
.settingsWrapper{
    width: 100%;
    height: 800px;
   background-color: #ecf0f3;
   padding-top: 100px;
   
}

.settings{
    width: 400px;
    height: 500px;
    background-color:#ecf0f3;
    border-radius: 10px 10px;
    margin: auto;
    padding: 20px;
    box-shadow: 13px 13px  20px #cbced1,
    -13px -13px 20px #fff;
    padding-left: 30px;
    padding-right: 30px;   
}


.icon-user{
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.settings input{
margin-top: 20px;
width: 100%;
height: 50px;
background-color: transparent;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 600;
outline: none;
border: none;
padding: 20px;
border-radius: 30px;
box-shadow:inset 8px 8px 8px #cbced1,inset -8px -8px 8px #fff;
}



.settings button{
    margin-top: 20px;
    width: 350px;
    height: 40px;
    background-color: transparent;
    background-color: chartreuse;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 30px;
    outline: none;
    border: none;
    transition: 0.9s;
}

.settings button:hover{
background-color: rgb(93, 153, 33);
}
.settings img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    vertical-align: middle;
}



@media (max-width:450px) {
    .settings{
        width: 90%;
    }
    .settings button{
        width: 100%;
        
       }
} 
