



.message-span-right{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    color: black;
    min-width: 10%;
    text-transform: capitalize;
    border-radius: 10px 5px 0;
    padding: 3px;
    margin: 10px 10px 60px 10px;
    float: right;
    background-color: #b0b8b2;
}


.message-span-left{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    color: black;
    min-width: 10%;
    text-transform: capitalize;
    border-radius: 10px 5px 0;
    margin-top: 100px;
    padding: 3px;
    margin: 10px 10px 60px 10px;
    float: left;
    background-color:#038cfc;
    
}


.message-span-right-time{
    float: right;
    font-size: 10px;
}


.message-span-left-time{
    float: left;
    font-size: 10px;

}

